
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap" rel="stylesheet");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
  font-family: 'Dosis', sans-serif;
  font-size :18px;
  margin: 40px ;
  text-align: center;
}



h2{
	text-align: center
}

h1,h2,h3 {
	font-family: 'Signika Negative', sans-serif;
	font-weight: bold;
	margin: 40px auto;

}

